.main-box {

	.meal-section {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 16px;
		width: 100%;

		/* Add this part to control card sizing */
		.meal-card {
			flex: 1 1 calc(16.666% - 32px); /* Six cards per row */
			max-width: calc(16.666% - 32px);
			box-sizing: border-box;
		}
	}

	.button-section {
		display: flex;
		flex-direction: row;

		#reset {
			margin-right: 16px;
		}

			#randomize {

		}
	}
}
