.main-box {

		.meal-section {
			display: flex;
			justify-content: space-around;
			width: 100%;
			flex-wrap: wrap;
			gap: 16px;
		}

		.button-section {
			display: flex;
			flex-direction: row;

			#reset {
				margin-right: 16px;
			}

			#randomize {

		}
	}
}
